# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/fdf-demo/nacos/nacos.iml
/fdf-demo/seata-demo/nacos.iml
/fdf-demo/fdf-demo.iml
/fdf-demo/nacos/.mvn/
/.idea/
/fdf-demo/seata-demo/seata-demo.iml
/fdf-demo/seata-demo/account-service/account-service.iml
/fdf-common/fdf-common.iml
/fdf-common/fdf-common-core/fdf-common-core.iml
/fdf-common/log-starter/log-starter.iml
/fdf-common/common-core/common-core.iml
/fdf-common/db-starter/db-starter.iml
/fdf-config/fdf-config.iml
/fdf-demo/seata-demo/bussiness-service/business-service.iml
/fdf-demo/seata-demo/business-service/business-service.iml
/fdf-common/loadbalancer-starter/loadbalancer-starter.iml
/fdf-demo/seata-demo/order-service/order-service.iml
/fdf-demo/seata-demo/storage-service/storage-service.iml
/fdf-demo/sharding-jdbc-demo/sharding-jdbc-demo.iml
/fdf-common/swagger-starter/swagger-starter.iml
/fdf-demo/swagger-demo/swagger-demo.iml
/fdf-common/sentinel-starter/sentinel-starter.iml
/fdf-common/redis-starter/redis-starter.iml
/fdf-gateway/fdf-gateway.iml
/fdf-demo/seata-demo/user-service/user-service.iml
/fdf-business/fdf-business.iml
/fdf-business/code-generator/code-generator.iml
/fdf-business/search-service/search-service.iml
/fdf-job/fdf-job.iml
/fdf-job/job-core/job-core.iml
/fdf-job/job-admin/job-admin.iml
/fdf-job/job-executor-samples/job-executor-samples.iml
/fdf-monitor/admin/admin.iml
/fdf-monitor/fdf-monitor.iml
/fdf-demo/demo/demo.iml
/fdf-business/search-client/search-client.iml
/fdf-common/auth-starter/auth-starter.iml
/fdf-uaa/fdf-uaa.iml
/fdf-web/fdf-web.iml
/fdf-web/back-web/back-web.iml
/fdf-monitor/log-center/log-center.iml
